p {
    font-family: 'DancingScriptRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 200%;
}

h1 {
    text-align: center;
    color: blue;
    font-family: 'DancingScriptRegular‘;
    font-size: 400%;
}

i {
    color: darkgreen;
}